<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>one</key>
    <string>one.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>agave.Aduck</key>
    <string>agave.A_duck.glif</string>
    <key>agave.Bduck</key>
    <string>agave.B_duck.glif</string>
    <key>agave.Cduck</key>
    <string>agave.C_duck.glif</string>
    <key>agave.Dduck</key>
    <string>agave.D_duck.glif</string>
    <key>agave.Educk</key>
    <string>agave.E_duck.glif</string>
    <key>agave.Fduck</key>
    <string>agave.F_duck.glif</string>
    <key>agave.Gduck</key>
    <string>agave.G_duck.glif</string>
    <key>agave.Hduck</key>
    <string>agave.H_duck.glif</string>
    <key>agave.Iduck</key>
    <string>agave.I_duck.glif</string>
    <key>agave.Jduck</key>
    <string>agave.J_duck.glif</string>
    <key>agave.Kduck</key>
    <string>agave.K_duck.glif</string>
    <key>agave.Lduck</key>
    <string>agave.L_duck.glif</string>
    <key>agave.lduck</key>
    <string>agave.lduck.glif</string>
    <key>agave.Mduck</key>
    <string>agave.M_duck.glif</string>
    <key>agave.Nduck</key>
    <string>agave.N_duck.glif</string>
    <key>agave.Oduck</key>
    <string>agave.O_duck.glif</string>
    <key>agave.Pduck</key>
    <string>agave.P_duck.glif</string>
    <key>agave.Rduck</key>
    <string>agave.R_duck.glif</string>
    <key>agave.Sduck</key>
    <string>agave.S_duck.glif</string>
    <key>agave.Tduck</key>
    <string>agave.T_duck.glif</string>
    <key>agave.Uduck</key>
    <string>agave.U_duck.glif</string>
    <key>agave.Vduck</key>
    <string>agave.V_duck.glif</string>
    <key>agave.Wduck</key>
    <string>agave.W_duck.glif</string>
    <key>agave.Xduck</key>
    <string>agave.X_duck.glif</string>
    <key>agave.Yduck</key>
    <string>agave.Y_duck.glif</string>
    <key>agave.Zduck</key>
    <string>agave.Z_duck.glif</string>
    <key>agave.AEduck</key>
    <string>agave.A_E_duck.glif</string>
    <key>agave.Oslashduck</key>
    <string>agave.O_slashduck.glif</string>
    <key>agave.Ezhduck</key>
    <string>agave.E_zhduck.glif</string>
    <key>agave.Gammaduck</key>
    <string>agave.G_ammaduck.glif</string>
    <key>agave.Ucyrduck</key>
    <string>agave.U_cyrduck.glif</string>
    <key>agave.Izhitsaduck</key>
    <string>agave.I_zhitsaduck.glif</string>
    <key>agave.Schwaduck</key>
    <string>agave.S_chwaduck.glif</string>
    <key>agave.Zeduck</key>
    <string>agave.Z_educk.glif</string>
    <key>agave.Otildeduck</key>
    <string>agave.O_tildeduck.glif</string>
    <key>agave.Ecyrduck</key>
    <string>agave.E_cyrduck.glif</string>
    <key>agave.Cheduck</key>
    <string>agave.C_heduck.glif</string>
    <key>agave.Yeruduck</key>
    <string>agave.Y_eruduck.glif</string>
    <key>agave.Ohornduck</key>
    <string>agave.O_hornduck.glif</string>
    <key>agave.Uhornduck</key>
    <string>agave.U_hornduck.glif</string>
    <key>agave.Omegaduck</key>
    <string>agave.O_megaduck.glif</string>
    <key>agave.diaresisduck</key>
    <string>agave.diaresisduck.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
  </dict>
</plist>
